/* From Uiverse.io by ZacharyCrespin */

@keyframes square-animation {
    0% {
      left: 0;
      top: 0;
    }
    10.5% {
      left: 0;
      top: 0;
    }
    12.5% {
      left: 16px; /* reduced to 1/2 size */
      top: 0;
    }
    23% {
      left: 16px; /* reduced to 1/2 size */
      top: 0;
    }
    25% {
      left: 32px; /* reduced to 1/2 size */
      top: 0;
    }
    35.5% {
      left: 32px; /* reduced to 1/2 size */
      top: 0;
    }
    37.5% {
      left: 32px; /* reduced to 1/2 size */
      top: 16px; /* reduced to 1/2 size */
    }
    48% {
      left: 32px; /* reduced to 1/2 size */
      top: 16px; /* reduced to 1/2 size */
    }
    50% {
      left: 16px; /* reduced to 1/2 size */
      top: 16px; /* reduced to 1/2 size */
    }
    60.5% {
      left: 16px; /* reduced to 1/2 size */
      top: 16px; /* reduced to 1/2 size */
    }
    62.5% {
      left: 16px; /* reduced to 1/2 size */
      top: 32px; /* reduced to 1/2 size */
    }
    73% {
      left: 16px; /* reduced to 1/2 size */
      top: 32px; /* reduced to 1/2 size */
    }
    75% {
      left: 0;
      top: 32px; /* reduced to 1/2 size */
    }
    85.5% {
      left: 0;
      top: 32px; /* reduced to 1/2 size */
    }
    87.5% {
      left: 0;
      top: 16px; /* reduced to 1/2 size */
    }
    98% {
      left: 0;
      top: 16px; /* reduced to 1/2 size */
    }
    100% {
      left: 0;
      top: 0;
    }
  }
  
  .loader {
    position: relative;
    width: 48px; /* reduced to 1/2 size */
    height: 48px; /* reduced to 1/2 size */
    transform: rotate(45deg);
  }
  
  .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px; /* reduced to 1/2 size */
    height: 14px; /* reduced to 1/2 size */
    margin: 1px; /* reduced to 1/2 size */
    border-radius: 0px;
    background: #242424;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
  }
  
  .loader-square:nth-of-type(1) {
    animation-delay: 0s;
  }
  
  .loader-square:nth-of-type(2) {
    animation-delay: -1.4285714286s;
  }
  
  .loader-square:nth-of-type(3) {
    animation-delay: -2.8571428571s;
  }
  
  .loader-square:nth-of-type(4) {
    animation-delay: -4.2857142857s;
  }
  
  .loader-square:nth-of-type(5) {
    animation-delay: -5.7142857143s;
  }
  
  .loader-square:nth-of-type(6) {
    animation-delay: -7.1428571429s;
  }
  
  .loader-square:nth-of-type(7) {
    animation-delay: -8.5714285714s;
  }
  
  .loader-square:nth-of-type(8) {
    animation-delay: -10s;
  }
  