
.SideBarContainer {
    width: 250px;
    /* min-height: calc(100vw - 70px); */
    border-right: 1px solid gray;
    overflow-y: scroll;
    padding: 10px;
}

.list1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: larger;

    height: 30px;
    width: 90%;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    
}

.HoneIcon {
    height: 23px;
    width: 23px;
}

.seprationTitle{
    height: 50px;
    border-top: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: large;
    font-weight: 500;
}


.list2 p{
    margin-left: 50px;
}

.classListView{
    margin: 10px 0;
    border: 0.5px solid rgba(128, 128, 128, 0.342);
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    font-size: small;
}

.classListView:hover{
    box-shadow: rgba(50, 50, 93, 0.163) 0px 8px 17px -3px, rgba(0, 0, 0, 0.174) 0px 4px 8px -4px;
}

.navlinkFix{
    text-decoration: none;
    color: black;
}