.container {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    z-index: 100;
}

.innerContainer {
    width: 70%;
    height: 80%;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #aaa8a8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}

.titleBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.titleBar>h4 {
    font-size: large;
    font-weight: 500;
}

.closeicon {
    font-size: xx-large;
    cursor: pointer;
}

.tempTileFix {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.inactive{
    display: none;
}

.topLoadBar {
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #aaa8a8;
    overflow: hidden;
    top: 100%;
    transform: translateY(-50%);
}

.loadIndicator {
    height: 100%;
    /* Full height of the bar */
    width: 20%;
    /* Width of the loading indicator */
    background-color: #333;
    /* Color of the moving component */
    position: absolute;
    animation: loading 2s linear infinite;
    /* Adjust duration as needed */
}

@keyframes loading {
    0% {
        left: -20%;
        /* Start off-screen */
    }

    100% {
        left: 100%;
        /* Move to the right end */
    }
}

