* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-bottom: 80px;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.h1Title{
    width: 100%;
    font-weight: 500;
    font-size: x-large;
}