.container {
    width: 70%;
    margin-bottom: 110px;
}

.title {
    font-weight: 500;
    font-size: x-large;
    /* color:#185abc; */
}

.titleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.btn {
    color: white;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    background-color: #1a73e8;
    font-weight: 500;
}

.icon {
    font-size: larger;
}